<div class="recipe">
  <a href="<%= recipe_path(recipe) %>">
    <p><%= recipe.name %></p>
    <img src="<%= recipe.image%>" onerror="this.onerror=null;this.src='http://localhost:3000/assets/default.png';" alt="<%= recipe.name %>" class="thumbnail">
  </a>
  <br>
</div>
