<div class='text_box'>
<h1>All Recipes:</h1>
<hr>
<ul>
  <%= will_paginate @recipes %>
  <% if @recipes != nil %>
    <% @recipes.each do |recipe| %>
      <a href=<%= recipe_path(recipe) %>><li><%= recipe.name %></li></a>
    <% end %>
  <% end %>
</ul>
</div>
