<h1 class='text_box'><%= @recipe.name %></h1>
<div class='text_box'>
<h2>Ingredients:</h2>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
  <% item = Item.find(ingredient.item.id) %>
    <li><%= item.name %>, <%= ingredient.quantity %></li>
  <% end %>
</ul>
</div>
