/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #myInput {
     background-image: url('/css/searchicon.png'); /* Add a search icon to input */
     background-position: 10px 12px; /* Position the search icon */
     background-repeat: no-repeat; /* Do not repeat the icon image */
     width: 100%; /* Full-width */
     font-size: 16px; /* Increase font-size */
     padding: 12px 20px 12px 40px; /* Add some padding */
     border: 1px solid #ddd; /* Add a grey border */
     margin-bottom: 12px; /* Add some space below the input */
 }

 #myUL {
     /* Remove default list styling */
     list-style-type: none;
     padding: 0;
     margin: 0;
 }

 #myUL li a {
     border: 1px solid #ddd; /* Add a border to all links */
     margin-top: -1px; /* Prevent double borders */
     background-color: #f6f6f6; /* Grey background color */
     padding: 12px; /* Add some padding */
     text-decoration: none; /* Remove default text underline */
     font-size: 18px; /* Increase the font-size */
     color: black; /* Add a black text color */
     display: block; /* Make it into a block element to fill the whole list */
 }

 #myUL li a:hover:not(.header) {
     background-color: #eee; /* Add a hover effect to all links, except for headers */
 }

 body {
   background-image: url('https://static.pexels.com/photos/326311/pexels-photo-326311.jpeg');
   min-width: 1000px;
   text-align: center;
 }

 #wrapper {
   margin-left: auto;
   margin-right: auto;
   width: 960px;
 }

 .nav-link {
  border: solid black 2px;
  padding: 10px;
  display: inline-block;
}

#logo img {
  width: 150px;
  height: 150px;
}

#logo{
  position: relative;
}

#title {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-family: impact;
  margin-bottom: 40px;
}

.text_box{
  background-color: #302f2e;
  color: #ffffff;
  padding: 20px;
  border: 8px solid black;
  border-radius: 20px;
}

.text_box a{
  color: #6b7bd2;
}

.delete_img {
  border-radius: 50%;
}

.item_listing, .recipe{
  background-color: #A0302C;
  border: 1px solid black;
  top: 50%;
  height: 24px;
  line-height: 24px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  vertical-align: top;
}

.recipe{
  cursor: pointer;
}

.unmarked_list{
list-style-type: none;
}

.isle-entry, .list-line, .isle{
  display: inline;
}

.isle-entry{
  width:  40px;
}

.text_box li{
  text-align: left;
}

#recipe_directions{
  width: 400px;
  height: 200px;
  resize: none;
}

.recipe_block{
  display: inline-block;
  margin-left:auto; margin-right:100px;
}

.ingredient_block{
  display: inline-block;
  vertical-align: top;
  align
}

.list_display{
  text-align: left;
}

.recipe_icon{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.top_recipe_block {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.75);
  display: inline-block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  list-style: none;
}

.top_recipe_block p {
  text-align: center;
  font-size: 24px;
  position: relative;
}
.top_recipe_listing{
    display: inline-block;
    height: 100px;
    vertical-align: text-top;

}
